server:
  port: 9092
spring:
  application:
    name: vandai.com.vn
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/vandai}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:tranvandai2004}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

api:
  prefix: /api/v1

jwt:
  signerKey: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpYXQiOjE3NjY5MDUwODMsImV4cCI6MTc2NjkwODY4MywianRpIjoiYTIzMzIyNTEtMzQ0NC00ZjVjLTk0MGYtMGUzNGZiZmRlNmIyIiwiaXNzIjoiYXBpLmV4YW1wbGUuY29tIiwic3ViIjoidXNlcl8zNzAzIiwiYXVkIjoiaHR0cHM6Ly9leGFtcGxlLmNvbSJ9.QolFPv_wDD7Ht2RG_vAoeQsOKQazAmIm9Lh69E9rDaubObr7IbhMSr-Hvj3Ec9i1vj_pFiTg905qZLD9JEqxNg"